@{
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}

<div class="text-center">
    <div class="header">
        <h1>Welcome!!! :DD</h1>

    </div>
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #ffffff;
    }


</style>
